<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CNC_Drill_Controller1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <CNC_Drill_Controller1.Properties.Settings>
            <setting name="X_Scale" serializeAs="String">
                <value>961</value>
            </setting>
            <setting name="Y_Scale" serializeAs="String">
                <value>961</value>
            </setting>
            <setting name="X_Backlash" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Y_Backlash" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Logfile_Filename" serializeAs="String">
                <value>CNC_Drill_CTRL.log</value>
            </setting>
            <setting name="X_Last_Direction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y_Last_Direction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X_Abs_Position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y_Abs_Position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X_Delta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y_Delta" serializeAs="String">
                <value>0</value>
            </setting>
        </CNC_Drill_Controller1.Properties.Settings>
    </userSettings>
</configuration>
